@* Assignment Index View
Shawn Williams
March 31, 2013*@

@model IEnumerable<Ludus.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

<p>
    @* a link to create new assignments *@
    @Html.ActionLink("Create New", "Create")
</p>

@* Contruct a table and headers for the table *@
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionLimit)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.MaximumGrade)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@* Fills in table will all the assignments *@  
@foreach (var assignment in Model) {
    <tr>
        <td>@assignment.SectionId</td>
        <td>@assignment.Description</td>
        <td>@assignment.Notes</td>
        <td>@assignment.Due</td>
        <td>@assignment.SubmissionLimit</td>
        <td>@assignment.MaximumGrade</td>
        <td>@assignment.Active</td>
        <td>
            @* a link to edit assignments *@
            @Html.ActionLink("Edit", "Edit", new { id=assignment.Id }) |
            @* a link to delete assignments *@
            @Html.ActionLink("Delete", "Delete", new { id=assignment.Id })
        </td>
    </tr>
}

</table>
