@model IEnumerable<Ludus.Models.PersonalItem>
@Html.ActionLink("Create New", "Create", "PersonalItem")
<div class="accordion" id="accordion2">
@foreach (var item in Model) {
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-@item.Id">
        @item.ShortDescription           Due: @item.Due     
      </a>
    </div>
    <div id="collapse-@item.Id" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="text-align:center; font-size:large">item.Description</div>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
      </div>
    </div>
  </div>
}
</div>
