@*
ListPartial - A list view for the calendar items for an individual
Thomas Moseley
May 31, 2013
*@
@model Ludus.Models.Calendar
@* a link to create new personal items *@
@Html.ActionLink("Create New Personal Item", "Create", "PersonalItem", null, new { @class = "btn btn-info", @style = "color:white" })
@* The list view is an accordion style view *@
<div class="accordion" id="accordion2">
@foreach (var item in Model.Items.OrderBy(c=>c.Due)) {
    @* For each item, we must construct the proper accordion values *@
        string id;
        string itemClass;
        string href;
        if (item is Ludus.Models.PersonalItem)
        {
            id = "collapsep-" + @item.Id;
            itemClass = "accordian-toggle btn btn-info";
        }
        else
        {
            id = "collapsea-" + @item.Id;
            itemClass = "accordian-toggle btn btn-success";
        }
        href = "#" + id;
    <div class="accordion-group" style="border:none">
    <div class="accordion-heading" style="border:none">
      <a class="@itemClass" style="color:white; width:100%" data-toggle="collapse" data-parent="#accordion2" href="@href">
         @* If an item is personal, then all the item header says is personal. OTherwise, it shows the course info *@
        Due: @item.Due
          @if (item is Ludus.Models.PersonalItem)
          {
              <text>Personal </text>
          }
          else
          {
              var aItem = item as Ludus.Models.Assignment;
              @aItem.Section.Course.Number
                                                                          }
 - @item.Description           
       
      </a>
    </div>
    <div id="@id" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="text-align:center; font-size:large">@item.Notes</div>
         @* If an item is personal, then link to editor, otherwise to submittors *@
          @if (item is Ludus.Models.PersonalItem)
          {
            @Html.ActionLink("Edit", "Edit", "PersonalItem", new { id=item.Id, goHome=true }, null)<text> | </text>
            @Html.ActionLink("Details", "Details", "PersonalItem", new { id=item.Id, goHome=true }, null)<text> | </text>
            @Html.ActionLink("Delete", "Delete", "PersonalItem", new { id=item.Id, goHome=true },null)
          }
          else
          {
            @Html.ActionLink("Details", "Edit", "Assignment", new { id=item.Id, goHome=true })<text> | </text>
            @Html.ActionLink("Submit", "Submit", "Assignment", new { id=item.Id, goHome=true })
          }
      </div>
    </div>
  </div>
}
</div>
