@model Ludus.Models.Profile
@{
    ViewBag.Title = "Profile";
}

<h1 class="page-header">@Model.User.DisplayName</h1>

<div>

    <div id="profile_content">

        <!-- Row with user's photo and biography -->
        <div class="row">
            <div class="span1 offset2">
                <img id="profile_photo" src="@Model.Gravatar" class="avatar" alt=""/>
            </div>

            <div class="span7">
                <div id="biography">
                    <p id="biography_text">@Model.User.Biography</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span1 offset7">@Html.ActionLink("Edit", "Edit", new { id = Model.User.UserId }, new { @class="btn btn-success", @style="color:white"})</div>
        </div>

        <h4 class="page-header">
            <span>Badges Earned</span>
        </h4>

        <div id="badges" class="row">
            <div class="span8 offset2">
                <span class="btn btn-info">Badge</span>
                <span class="btn btn-success">Rockstar</span>
                <span class="btn btn-danger">Most likely to be president</span>
                <span class="btn btn-warning">Awesome</span>
                <span class="btn btn-primary">Crazy cool</span>
                <span class="btn btn-inverse">Procrastinator</span>
            </div>
        </div>


        <h4 class="page-header">
            <span>Enrolled Courses</span>
        </h4>

        <div id="course-titles" class="row">
            <div class="span3 offset2">
                <span style="font-weight:bold">Course Number</span>
            </div>

            <div class="span 5">
                <span style="font-weight:bold">Course Name</span>
            </div>

        </div>
        @foreach (var enrollment in Model.Enrollments)
        {
        <div class="row">
            <div class="span3 offset2">
                <span>@enrollment.Section.Course.Number</span>
            </div>

            <div class="span 5">
                <span>@enrollment.Section.Course.Name</span>
            </div>

        </div>
        }
        <div class="course-name row" style="min-height:100px;">
            
        </div>



    </div>

</div>