@* Student Delete View
Shawn Williams
March 31, 2013*@

@model Ludus.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@* Confirmation message *@
<h3>Are you sure you want to delete this?</h3>

@* Create table to display students and corresponding headers *@
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session.Name)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Session.Name)
        </td>
    </tr>
</table>

@using (Html.BeginForm()) {
    <p>
        @* Submit button *@
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
