@* Session Index View
Shawn Williams
March 31, 2013*@

@model IEnumerable<Ludus.Models.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Sesssions</h2>

<p>
    @* a link to create new sessions *@
    @Html.ActionLink("Create New", "Create")
</p>

@* Contruct a table and headers for the table *@
<table class="table table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Active
        </th>
        <th></th>
    </tr>

@* Fills in table will all the sessions *@
@foreach (var session in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => session.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => session.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => session.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => session.Active)
        </td>
        <td>
            @* a link to edit sessions *@
            @Html.ActionLink("Edit", "Edit", new { id=session.Id }) |
            @* a link to delete sessions *@
            @Html.ActionLink("Delete", "Delete", new { id=session.Id })
        </td>
    </tr>
}

</table>
