@* Course Index View
Shawn Williams
March 31, 2013*@

@model IEnumerable<Ludus.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @* a link to create new courses *@
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
    </tr>

@* Fills in table will all the courses *@
@foreach (var course in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => course.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => course.Active)
        </td>
        <td>
            @* a link to edit courses *@
            @Html.ActionLink("Edit", "Edit", new { id=course.Id }) |
            @* a link to delete courses *@
            @Html.ActionLink("Delete", "Delete", new { id=course.Id })
        </td>
    </tr>
}

</table>
