@model Ludus.Models.Faculty

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Faculty</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.UserName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.UserId, (IEnumerable<SelectListItem>) ViewBag.UserList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Session.Name)
        </div>
        <div class="editor-label">
            @Html.DropDownListFor(model => model.SessionId, (IEnumerable<SelectListItem>) ViewBag.SessionList)
        </div>
        <div class="editor-field">

        </div>

        <br />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
