@* Faculty Edit View
Shawn Williams
March 31, 2013*@

@model Ludus.Models.Faculty

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@* Create form to edit a faculty member *@
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Faculty</legend>

        @Html.HiddenFor(model => model.Id)

        @* Form contains labels, populated data, and validates required fields *@
        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.UserName)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(model => model.UserId, (IEnumerable<SelectListItem>) ViewBag.UserList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Session.Name)
        </div>
        <div class="editor-label">
             @Html.DropDownListFor(model => model.SessionId, (IEnumerable<SelectListItem>) ViewBag.SessionList)
       </div>
        <div class="editor-field">

        </div>

        <br />
        <p>
            @* Submit button *@
            <input type="submit" class="btn btn-success" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
