@* Faculty Index View
Shawn Williams
March 31, 2013*@

@model IEnumerable<Ludus.Models.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Faculty</h2>

<p>
    @* a link to create new faculty members *@
    @Html.ActionLink("Create New", "Create")
</p>

@* Contruct a table and headers for the table *@
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session.Name)
        </th>
        <th></th>
    </tr>

@* Fills in table will all the faculty members *@  
@foreach (var faculty in Model) {
    <tr>
        <td>@faculty.UserProfile.UserName</td>
        <td>@faculty.UserProfile.FirstName</td>
        <td>@faculty.UserProfile.LastName</td>
        <td>@faculty.Session.Name</td>
        <td>
            @* a link to edit faculty members *@
            @Html.ActionLink("Edit", "Edit", new { id=faculty.Id }) |
            @* a link to delete faculty members *@
            @Html.ActionLink("Delete", "Delete", new { id=faculty.Id })
        </td>
    </tr>
}

</table>
